{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "MCP_OAUTH_ISSUER": "http://localhost:7071",
    "MCP_AUTH_ENABLED": "false"
  },
  "Host": {
    "LocalHttpPort": 7071,
    "CORS": "*"
  }
}